@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap%27');


* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-image: url(../src/Layouts/imagens_front/Lista-de-Desejos-Alta-fidelidade.png);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
}


#idLogo{
    color: blueviolet;
    font-family: 'Yellowtail', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
}

.cadastroTela{

    width: 506px;
    height: 341px;
    left: 467px;
    display: flex;
    justify-content: center;
    

    background: #FFFFFF;
}

.separacao {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.h2cadastrar{

    font-family: 'Sail', cursive;
    font-size: 47px;
    line-height: 54px;
    margin-top: 38px;

}

form {
    text-align: center;
}

input{

    font-family: 'Roboto';
    margin-top: 39px;
    width: 248.32px;
    height: 30px;
    background: #ECEAEA;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

.botaoCadastrar{

    width: 189.1px;
    height: 48px;

    background: #A5FFB9;
    border-radius: 7px;

    margin-top: 34px;

    border: none;

}

.botaoCadastrar:hover{
    cursor: pointer;
}

.desejosTela{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 710px;
    height: max-content;
    margin-top: 32px;
    margin-bottom: 50px;

    background: #FFFFFF;

}

.h2desejos{

    font-family: 'Sail', cursive;
    font-size: 43px;
    line-height: 50px;
    margin-top: 20px;

    margin-bottom: 50px;

}

.espaco1{
    display: flex;
    margin-bottom: 50px;
}

.quadrado1{

    width: 18.41px;
    height: 20.72px;
    background-color: #DBA2EA;

    text-align: center;
}

.escrita1{

    width: 471px;
    height: 21px;
    background: #ECEAEA;
    border-radius: 5px;

    margin-left: 10px;

    text-transform: uppercase;

}

.quadrado2{

    width: 18.41px;
    height: 20.72px;
    background-color: #C7F6B9;
}

.quadrado3{

    width: 18.41px;
    height: 20.72px;
    background-color: #FFFD12;
}

.quadrado4{

    width: 18.41px;
    height: 20.72px;
    background-color:  #5CE1E6
    ;
}
